// pokeball inspired by https://codepen.io/marabesi/pen/ENxeGg

// POKEBALL
.pokeball {
  &--mini {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
    border-radius: 40px;
  }

  &__top {
    position: relative;
    border: 30px solid #000;
    border-top-left-radius: 440px;
    border-top-right-radius: 440px;
    width: 440px;
    height: 200px;
    background-color: #ff1227;

    &--mini {
      border: 3px solid #000;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      width: 40px;
      height: 18px;
    }
  }

  &__button {
    position: absolute;
    top: 110px;
    left: 105px;
    width: 165px;
    height: 165px;
    border-radius: 220px;
    background-color: #fff;
    border: 30px solid #000;

    &--mini {
      border: 3px solid #000;
      top: 10px;
      left: 9px;
      width: 15px;
      height: 15px;
      border-radius: 20px;
    }
  }

  // space between top and bottom, increase height to "open" pokeball
  .space {
    // height: 100px;
    transition: 1s;
  }

  &__bottom {
    border: 30px solid #000;
    border-top: 0;
    border-bottom-left-radius: 440px;
    border-bottom-right-radius: 440px;
    width: 440px;
    height: 215px;
    background-color: #fff;

    &--mini {
      border: 3px solid #000;
      border-top: 0;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      width: 40px;
      height: 20px;
    }
  }
}
