html,
body {
  margin: 0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.App {
  position: relative;
  font-family: "Press Start 2P", cursive;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.container--absolute {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.container--mini {
  position: absolute;
  top: 50px;
  right: 50px;
}

.pokeball--mini {
  -webkit-box-shadow: 0 0 0 0 black;
          box-shadow: 0 0 0 0 black;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  border-radius: 40px;
}

.pokeball__top {
  position: relative;
  border: 30px solid #000;
  border-top-left-radius: 440px;
  border-top-right-radius: 440px;
  width: 440px;
  height: 200px;
  background-color: #ff1227;
}

.pokeball__top--mini {
  border: 3px solid #000;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  width: 40px;
  height: 18px;
}

.pokeball__button {
  position: absolute;
  top: 110px;
  left: 105px;
  width: 165px;
  height: 165px;
  border-radius: 220px;
  background-color: #fff;
  border: 30px solid #000;
}

.pokeball__button--mini {
  border: 3px solid #000;
  top: 10px;
  left: 9px;
  width: 15px;
  height: 15px;
  border-radius: 20px;
}

.pokeball .space {
  -webkit-transition: 1s;
  transition: 1s;
}

.pokeball__bottom {
  border: 30px solid #000;
  border-top: 0;
  border-bottom-left-radius: 440px;
  border-bottom-right-radius: 440px;
  width: 440px;
  height: 215px;
  background-color: #fff;
}

.pokeball__bottom--mini {
  border: 3px solid #000;
  border-top: 0;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 40px;
  height: 20px;
}

.card {
  position: relative;
  margin: 0 auto;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 0 30px #000 inset;
          box-shadow: 0 0 0 30px #000 inset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 750px;
  height: 500px;
  background: #fff;
}

.card__shadow {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  pointer-events: none;
}

.card__artwork {
  margin-left: 18px;
  width: 370px;
  height: 370px;
}

.card__info-wrapper {
  font-size: 12px;
}

.card__label {
  color: #7b7c8a;
  font-size: 10px;
}

.card__name {
  font-size: 18px;
}
/*# sourceMappingURL=main.css.map */