@import "./partials/reset";
@import "./partials/base";
@import "./partials/containers";
@import "./partials/pokeball";

// CARD
.card {
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 16px;
  box-shadow: 1px 1px 12px 4px lightgray;
  width: 750px;
  height: 500px;
  background: #ffffff;

  &__artwork {
    width: 300px;
    height: 300px;
  }

  &__info-wrapper {
  }
}
